version: "3.9"

services:
  myecom-db:
    image: mysql:8
    container_name: myecom-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASS}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASS}
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql

  myecom-backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: myecom-backend
    restart: always
    depends_on:
      - myecom-db
    ports:
      - "8080:8080"
    env_file:
      - .env
    volumes:
      - ./backend/upload:/app/upload
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:8080/actuator/health"]
      interval: 30s
      timeout: 3s
      retries: 3

volumes:
  db_data:
